# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment files
pyvenv.cfg
Scripts/
Lib/

*.log
Pipfile
Pipfile.lock

# Environment variables
.env

# Cache & Logs
.cache/
*.log

# IDE & Editor files
.vscode/
.idea/